page-profile {
.header-parent{
  position: relative;
  text-align: center;

}

.length{
  font-size: 12rem;
  margin-top: 0px;
  margin:0,auto;
  text-align: center;
  color: yellow;
  font: bold 20px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #fe4902,
               2px 2px #fe4902,
               3px 3px #fe4902;


}

.length:hover{
  -webkit-transform: scale(1.1);
  -moz-transform:    scale(1.1);
  -ms-transform:     scale(1.1);
  -o-transform:      scale(1.1);
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px #fe4902,
             2px 2px #fe4902,
             3px 3px #fe4902,
             4px 4px #fe4902,
             5px 5px #fe4902,
             6px 6px #fe4902;
  position: relative;
}

.header-social{
  bottom: 0px;
  text-align: center;
  margin-top: -5.5vh;
}

.profile{
  width: 25%;
  margin: 0 auto;
  margin-top: -20vh;
  
}

.title-name{
  color: #fff;
  margin-top: -3vh;
}

.location-icon{
  color:#fff;
  font-size: 18px;
  float: right;
  margin-top: 2.1vh;
}
.location{
  font-family: open-sans;
  color:#fff;
  float:left;
}


}
