page-profile {
.header-parent{
  position: relative;
  text-align: center;

}

.header-social{
  bottom: 0px;
  text-align: center;
  margin-top: -5.5vh;
}

.profile{
  width: 25%;
  margin: 0 auto;
  margin-top: -20vh;
}

.title-name{
  color: #fff;
  margin-top: -3vh;
}

.location-icon{
  color:#fff;
  font-size: 18px;
  float: right;
  margin-top: 2.1vh;
}
.location{
  font-family: open-sans;
  color:#fff;
  float:left;
}


}
