page-intro {
  .swiper-pagination-bullet-active{
    background: white;
  }
  .bg-image{
    background-image: url('../../assets/imgs/bg-image-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .padding{
      padding-bottom: 100px;
    }
}
