page-view-challenges {
  .box{
    padding: 10px;
    position: relative;
    margin: 10px;
    border: solid 1px #CCC;
-moz-box-shadow: 5px 5px 0px #999;
-webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 5px 5px 0px #999;
  }

  .detail{
    font-family: open-sans;

  }

  .title{
    font-family: open-sans;
    text-transform: uppercase;
  }

  .description{
    font-family: open-sans;
    font-size: 12px;
    color: map-get($colors, primary) !important;
    text-transform: capitalize;
  }

  .tag{
    font-family: open-sans;
    color: #b7c4cb;
    float:right;
    font-size: 14px;
    display: inline;
  }
}
